#personalFacts {
    border: 5px outset #1F5673;
    padding: 10px
}

body {
    background-color: #B9B8D3;
    padding: 10px;
    border: 5px outset black;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px
}

h2 {
    margin-top: 0px;
}

p {
    text-indent: 50px;
}

a {
    font-family: 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: square;
}

ol {
    background: #a3a2b4;
}


#personal {
    text-align: center;
    margin-top: -5px;
}

#professional {
    padding: 10px
}

#projects {
    width: 170px;
}

#diploma {
    margin-top: 5px;
}

#website {
    width: 200px;
}

#general {
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    max-width: 500px;
}



.remove-float {
    clear: both;
}


.box {
    border: 5px outset #463730;
    margin: 1px
}


.section {
    border: 5px outset black;

}

.language {
    color: rgb(163, 109, 38);
}

.text-center {
    text-align: center;
}

.no-indent {
    text-indent: 0px;
}

form {
    box-sizing: border-box;
    border: 5px outset black;
}

label:nth-child(odd) {
    background-color: #8a899f;
}

label:nth-child(even) {
    background-color: #a3a2b4;
}



@media (max-width:520px) {

    #menu {
        padding: 5px
    }

    #profile {
        width: 135px;
    }

    #education {
        margin-top: 5px;
        margin-bottom: 0px;
        width: 130px;
    }

    #skills {
        width: 160px;
        float: left;
        margin-right: 20px
    }

    #skillspg {
        width: 210px;
    }

    #edupg {
        width: 250px
    }

    #major {
        margin-left: 0px;
        margin-top: 0px;
    }

    #schoolpic {
        border: 5px outset rgb(68, 68, 113);
        margin-top: 5px;
        margin-right: 10px;
        width: 192px;
        height: 143px
        
    }
}


@media (min-width:521px) {


    #menu {
        float: right;
        padding: 5px
    }

    #profile {
        width: 135px;
    }

    #education {
        margin-top: 5px;
        margin-bottom: 0px;
        width: 130px;
    }

    #skills {
        width: 160px;
        float: left;
        margin-right: 20px
    }

    #skillspg {
        width: 210px;
    }

    #edupg {
        width: 300px
    }

    #major {
        margin-left: 0px;
        margin-top: 0px;
    }

    #schoolpic {
        border: 5px outset rgb(68, 68, 113);
        margin-top: 5px;
        margin-right: 10px;
        width: 512px;
        height: 380px;
    }








}